*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/

# Project
GASF/appsettings.json
GASF/appsettings.Development.json
/GASF.EFDataAccess/Migrations/20200507130943_migr1.cs
/GASF.EFDataAccess/Migrations/20200507130943_migr1.Designer.cs
/GASF.EFDataAccess/Migrations/20200507140147_migr34.cs
/GASF.EFDataAccess/Migrations/20200507140147_migr34.Designer.cs
