
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home Secretary</h1>

<a asp-action="Index" asp-controller="Students">Students</a>
<p></p>
<a asp-action="Index" asp-controller="Teachers">Teachers</a>


