
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home Secretary</h1>

<a href='@Url.Action("Index", "Students")' class="btn btn-primary">Students</a>

<a href='@Url.Action("Index", "Teachers")' class="btn btn-primary">Teachers</a>

<a href='@Url.Action("Index", "Course")' class="btn btn-primary">Courses</a>

<a href='@Url.Action("Index", "SchoolFees")' class="btn btn-primary">SchoolFee</a>



