@model GASF.Models.Students.StudentCoursesViewModel
@using GASF.Models.Students;
@{
    ViewData["Title"] = "GetStudentCourses";
}

<h1>Courses</h1>

<form asp-action="GetStudentCourses" method="get">
    </form>
